.top-container {
  margin-top: 10px;
  display: block;
}

.video-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  width: 45%;
  padding: 10px;

  a {
    text-decoration: none;
    color: #31135f;
  }

  img {
    width: 70%;
  }

  .video-info {
    h3 {
      width: 300px;
      height: 80px;
      font-size: 18px;
      margin: auto;
    }
  }
}

.video-card:hover {
  background-color: #31135f17;
  border-radius: 10px;
  cursor: pointer;
  transform: translateY(-10px);
}


input[type="text"] {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


@media (max-width: 456px) {
  .video-list {
    display: flex;
    justify-content: center;
  }

  .video-card {
    width: 100%;
  }

  .video-info {
    h3 {
      width: 300px;
      height: 80px;
      font-size: 16px;
      margin: auto;
    }
  }
}