main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .wellcome {
    width: 80%;
    font-size: 18px;
    line-height: 25px;

    span {
      padding: 5px;
      border-radius: 10px;
    }
  }

  .partion {
    width: 50vw;
    height: 5px;
    margin: 30px 0;
  }

  .sugestions {
    margin: -20px auto;
    max-width: 100vw;
    max-height: 100vh;
    text-align: left;
    display: flex;
    align-items: center;
  }

  h3 {
    img {
      width: 15vw;
      border-radius: 50%;
    }

  }
}

.dev-box {
  width: 30vw;
  min-height: 30vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.dev-box ol {
  list-style-type: none;

  li {
    margin: 10px 0;
  }
}

.dev-box li::marker {
  margin: 6px 0;
  content: counter(list-item) " - ";
  font-weight: 700;

}

.dev-box a {
  text-decoration: none;
  font-weight: bold;
}

.dev-box a:hover {
  text-decoration: underline;
}

@media (max-width: 1400px) {
  .sugestions {
    width: 100%;
    margin-top: 100px;
  }

  .dev-box {
    width: 45vw;

    h3 {
      width: 40%;

      img {
        width: 100%;
      }
    }

    li {
      font-size: 14px;
    }

    .list {
      width: 80%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

}

@media (max-width: 850px) {

  main {
    display: flex;
    flex-direction: column;
  }

  .wellcome {
    width: 100%;
  }

  .partion {
    width: 50vw !important;
    height: 2px !important;
    margin: 20px;
  }

  .sugestions {
    width: 100%;
    margin: 100px;
  }

  .dev-box {
    width: 70vw;
    margin: 10px;

    h3 {
      width: 60%;

      img {
        width: 100%;
      }
    }

  }

  .video-content {
    iframe {
      width: 90vw;
      height: 50vh;
    }
  }
}

@media (max-width: 630px) {
  .sugestions {
    margin: 100px;
    display: flex;
    justify-content: center;

  }

  .dev-box {
    height: 300px;
    margin: 10px;

    h4 {
      font-size: 14px;
    }

    li {
      font-size: 12px;
    }
  }

  ol {
    width: 100%;
    position: relative;
    bottom: 20px;
    right: 20px;
  }

  h4 {
    font-size: 12px;
  }

  li {
    font-size: 11px;
  }

}

@media (max-width: 467px) {
  .sugestions {
    min-width: 90vw;
    margin: 80px;
    display: flex;
    justify-content: center;
  }

  .dev-box {
    height: 300px;
    margin: 10px;

    h3 {
      width: 80%;

      img {
        width: 100%;
      }
    }

    .list {
      margin-top: -30px;
    }

    ol {
      width: 100%;
      position: relative;
      bottom: 20px;
      right: 20px;
    }

    h4 {
      font-size: 12px;
    }

    li {
      font-size: 11px;
    }
  }
}