.toggle-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 40px;
  gap: 10px;
}

/* Switch base */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  width: 70px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  transition: background-color 0.4s;
}

/* bolinha */
.knob {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: transform 0.4s;
}

input:checked+.slider .knob {
  transform: translateX(46px);
}


@media (max-width: 860px) {
  .slider {
    width: 55px;
    height: 20px;
    left: 30px;
  }

  .knob {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }

  .slider:before {
    width: 15px;
    height: 15px;
    left: 3px;
    bottom: 3px;
  }

  input:checked+.slider .knob {
    transform: translateX(35px);
  }
}

@media (max-width: 456px) {
  .slider {
    width: 60px;
    height: 20px;
    left: 30px;
    top: -8px;
  }

  .slider:before {
    width: 15px;
    height: 15px;
    left: 3px;
    bottom: 3px;
  }

  input:checked+.slider:before {
    transform: translateX(40px);
  }
}