:root {
  --cor-primaria: #283b4b;
  --cor-secundaria: #1b2329;
  --cor-tercearia: #f5f6fa;
  --cor-destaque: #0097e6;
  --cor-adicional: #283b4b;
}

body.daltonismo {
  --cor-primaria: #040608;
  --cor-secundaria: #d3d4d2;
  --cor-tercearia: #090a0c;
}

body {
  background: var(--cor-tercearia);
}

header {
  background: var(--cor-primaria);

  nav {
    background: var(--cor-primaria);
  }

  nav a:hover {
    background-color: var(--cor-destaque);
  }

  nav a.active {
    background-color: var(--cor-destaque);
    border-radius: 10px;
  }
}

.slider {
  background-color: var(--cor-secundaria);
}

.knob {
  background: var(--cor-tercearia);
  color: var(--cor-secundaria);
}

.slider::before {
  background-color: var(--cor-tercearia);
}

input:checked+.slider {
  background-color: var(--cor-secundaria);
}

main {
  .wellcome {
    color: var(--cor-secundaria);
  }

  .partion {
    background: linear-gradient(to right, var(--cor-destaque), var(--cor-primaria));
  }

  .list {
    h4 {
      color: var(--cor-secundaria)
    }
  }

  .dev-box img {
    background-color: var(--cor-adicional);
  }

  .dev-box li::marker {
    color: var(--cor-adicional);

  }

  .dev-box a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
  }
}

.song-card:hover {
  background: var(--cor-primaria);

  a {
    color: #d3d4d2;
  }
}

.song-details a {
  color: var(--cor-secundaria);
}

.video-card:hover {
  background-color: #1b2329d8;

  a,
  p {
    color: #d3d4d2;
  }
}

.video-card a {
  color: var(--cor-secundaria);
}

.btn {
  color: var(--cor-secundaria);
  transition: ease-out 0.3s;

  &:hover {
    color: var(--cor-adicional);
  }
}

.profile-content .close {
  color: var(--cor-primaria);
}

.container {
  .search-section {
    h2 {
      color: var(--cor-secundaria);
    }

    .input-container i {
      color: var(--cor-tercearia);
    }

    .input-container input {
      background-color: var(--cor-destaque);
      border: 2px solid var(--cor-destaque);
    }

    input::placeholder {
      color: var(--cor-primaria);
    }

    .button {
      button {
        background-color: var(--cor-primaria);
        color: #d3d4d2;

        &:hover {
          background-color: var(--cor-secundaria);
        }
      }
    }
  }

}

.banner {
  background-color: var(--cor-primaria);
  color: var(--cor-primaria);
}

.banner .song-details a {
  color: #d3d4d2;
}

.banner .song-card-banner:hover {
  transform: scale(1.05);
  background-color: #1b2329d8;
}

.profile .picture {
  p {
    color: var(--cor-secundaria);
  }

  a {
    color: var(--cor-destaque);
  }

  img {
    background-color: var(--cor-destaque);
  }
}

h2 {
  color: var(--cor-secundaria);
}

p {
  color: var(--cor-secundaria);
}

.top-page {
  color: var(--cor-secundaria);
}

footer {
  p {
    color: var(--cor-secundaria);
  }
}